* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
 }

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
} 

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: backround 0.5s;
    font-family: 'Oswald', sans-serif ;
}

.btn:hover {
    background: #0b1e2d;
}

.header {
    background: radial-gradient(#fff, #ffd6d6 );
}

.header .row{
    /* margin-top: 20px; */
}

/*------ categories --------*/

.Categories {
    margin: 90px 0;
    /* padding: 0px 130px; */
}

.col-6 {
    flex-basis: 6%;
    min-width: 197px;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif ;
}

.col-6 img {
    width: 100%;
}

.small-container {
    max-width: 1300px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px; 
}

/*------ Featured Products --------*/

.pont {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.col-6 {
    flex-basis: 15%;
    padding: 6px;
    min-width: 150px;
    margin-bottom: 50px;
    box-sizing: border-box;
    transition: 0.5s;
}

.col-6 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background-color: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #302f2f;
}

.col-6 p {
    font-size: 17px;
}

.rating .fa {
    color: #ff523b;
}

.col-6:hover {
    transform: translateY(-5px);
}

/* ------ Latset product mekup set -------*/

.col-4 {
    flex-basis: 23%;
    padding: 6px;
    max-width: 300px;
    margin-bottom: 50px;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: 'Oswald', sans-serif ;
}

.col-4:hover {
    transform: translateY(-5px);
}

.col-4 img {
    width: 100%;
}

/* ------ offer -------*/

.offer {
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

.col-2 p {
    font-size: 20px;
}

small {
    font-size: 18px;
    color: #555;
}

/* ------ testimonials -------*/

.testymonil {
    padding-top: 100px;
}

.testymonil .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
}

.testymonil .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testymonil .col-3:hover {
    transform: translateY(-10px);
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col-3 p {
    font-size: 18px;
    margin: 10px 0;
    color: #918f8f;
}

.col-3 h3 {
    font-size: 24;
    font-weight: bold;
    color: #202020;
} 

.col-3 {
    flex-basis: 30%;
    min-width: 361px;
    margin-bottom: 30px;
}


/* .testymonil .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
} */

/*------ brands --------*/

.brands {
    margin: 100px auto;
    overflow: hidden;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

/*----- footer ------*/

.footer {
    background: #000102;
    color: #7c7b7b;
    font-size: 14px;
    padding: 60px 0px 20px;
}

.footer p {
    color:  #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style: none;
}

.app-logo {
    margin-top: 20px;
} 

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.Copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}


/*------- media quary for menue -------*/ 


@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #222;;
        width: 100%;
        overflow: hidden;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .cart-info {
        display: none;
    }
}

/*------- media quary for less than 600 screen size -------*/

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2, .col-4, .col-6 {
        flex-basis: 100%;
    }

    .single-product .row {
        margin-top: -85px;
    }
    .single-product .row-3 {
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .single-product .row {
        text-align: center;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 30px;
        line-height: 25px;
        text-align: center;
    }

    .selet {
        margin-left: 35%;
    }

    .cart-page {
        padding: 10px;
    }

    .cart-info p {
        display: none;
    }

    .col {
        margin-left: 30px;
        overflow: hidden;
    } 

    
}

/*------- all product page -------*/

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #ec6890;
    padding: 5px;
    background: #fff;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #f37e9b;
    margin-left: 10px; 
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: transform 1s;
}

.page-btn span:hover {
    background: #e7759b;
    color: #fff;
}

/*-------- single products detials --------- */

.single-product {
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 12px;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0px;
    font-size: 20px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 18px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ec6890;
    border-radius: 6px;
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: #ec6890;
    margin-left: 10px;
}

.bn {
    background: #ec6890;
}

.small-img-row {
   display: flex;
   justify-content: space-between;
}

.small-img-col {
    flex: 24%;
    cursor: pointer;
}

.rr {
    margin-top: 50px;
}

.tir {
    margin-top: 30px;
}


/*---------- cart items details -----------*/

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ec6890;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ec6890;
    font-size: 12px;
}

td img {
    width: 90px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ec6890;
    width: 100%;
    max-width: 460px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/*---- contuct us page -----*/

.map iframe {
    width: 100%;
    margin-top: 60px;
    padding: 15px;
    background: #f0ebec;
}

.contact-details {
    width: 100%;
    margin: 50px 76px;
}

.contact-info {
    width: 35%;
    margin: 50px 0;
    overflow: hidden;
}

.single-info:last-child {
    margin-bottom: 100px;
}

/* .contact-info h1 {
    margin: 20px 0;
    font-size: 50px;
    font-family: impact,  sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 2;
    letter-spacing: 1.3px;
} */



.single-info p {
    width: 100%;
    margin-left: 70px;
    margin-top: -50px;
    margin-bottom: 50px;
    font-family: "arial", sans-serif;
    color: #a5a1a1;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
}

.single-info .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    padding-top: 10px;
    border: 1px solid #949090;
    color:#ff523b;
    text-align: center;
    padding-right: -12px;
}

.contact-form {
    width: 50%;
    margin-left: 50%;
    margin-bottom: 10%;
    margin-top: -46%;
    overflow: hidden;
    
}

.contact-ff {
    width: 100%;
    padding: 20px;
    display: inline-block;
    text-align: center;
}

.contact-ff input, 
.contact-form textarea {
    width: 70%;
    text-align: left;
    border: 2px solid #f7eef4;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2;
    display: flex;
    padding: 33px;
    margin: 25px 0;
}

.contact-form textarea {
    border: 2px solid #ff523b;
    padding: 10px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
    outline: none;
}


.contact-form .send-button {
    width: 35%;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    border: none;
    outline: none;
    text-align: center;
    background: #ff523b;
    color: #fff;
    font-size: 18PX;
    font-weight: 600;
    padding: 10px 28px;
    padding-bottom: 46px;
    border-radius: 10px;
    margin-left: -63%;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-form .send-button:hover {
    background: hsla(246, 95%, 8%, 0.8);
    transition: 0.3s all linear;
}


/*------------- contuct us page responsive ------------ */

@media (max-width: 600px) {
    
    .contact {
        max-width: 550px;
        grid-template-columns: 3fr;
        gap: 3rem;
        margin-top: 0rem !important;
        margin-left:-28px ;
    }

    .map iframe {
        text-align: center;
        width: 400px;
        margin-top: 5rem;
        padding: 10px;
    }

    .contact-details .contact-form {
        width: 550px; 
    }

    .contact-info {
        width: 400px;
        margin-top: 5rem !important;
        margin-left: -20%;
    }

    .contact-info p {
        font-size: 16px;
        line-height: 2;
    }

    .contact-info:first-child {
        margin-top: 50px;
        margin-left: -10%;
    }

    /* .contact-info h1 {
        text-align: center;
        margin-bottom: 10%;
    } */

    .contact-form {
        width: 100%;
        margin-top: -5rem !important;
        margin-left: -40px;
        padding: 10px; 
    }

    .contact-form .send-button {
        width: 40%;
        text-align: center;
        margin-left: -30%;
    }


}

/*------------- account page ------------ */

.account-page {
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 18px 0;
}

form .btn:focus {
    outline: none;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0px;
}

form a {
    font-size: 14px;
}

#Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/*------------- about-page ------------ */

.about-page {
    padding: 50px 0;
    /* background: radial-gradient(#fff,#ffd6d6); */
}

.about-info {
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.about-details {
    width: 1000px;
    margin: auto;
}

.single-about {
    width: 300px;
	float: left;
	overflow: hidden;
	margin-top: 80px;
    margin-right: 10px;
}

.single-infor {
    padding: 22px 15px;
	text-align: center;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.tit {
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.about-details p {
    font-size: 22px;
    text-align: center;
	margin-top: 30px;
    line-height: 1.5;
	color: #777;
}

.single-about img {
    width: 100%;
    transition: 0.3s;
}

.single-infor h4 {
    color: #575656;
} 

.gg a {
   font-size: 22px;
}


.single-img {
	overFlow: hidden;
	position: relative;
}

.socialIcon {
	width: 153px; 
	position: absolute;
	bottom: 50px;
	text-align: center;
	left: 50%;
	transform: translatex(-50%);
}

.socialIcon a {
	width: 28px;
	height: 28px;
	display: block;
	float: left;
	overFlow: hidden;
	background: red;
	display: grid;
	place-items: center;
	text-decoration: none;
	border-radius: 100%;
	padding: 3px;
	color: white;
	margin: 5px;
	transition: .3s;
}

.socialIcon a:first-child {
	background: #3b5998;
	opacity: 0; 
	transition: .90s;
}

.socialIcon a:nth-child(2) {
	background: #00acee;
	opacity: 0; 
	transition: .70s;
}

.socialIcon a:nth-child(3) {
	background: #db4a39;
	opacity: 0; 
	transition: .50s;
}

.socialIcon a:last-child {
	background: #0e768a;
	opacity: 0; 
	transition: .30s;
}

.socialIcon a:hover {
	background: #333;
	color: white;
}

.single-about:hover .socialIcon a:first-child {
	transform: translateY(20px);
	opacity: 1;
}

.single-about:hover .socialIcon a:nth-child(2) {
	transform: translateY(20px);
	opacity: 1;
}

.single-about:hover .socialIcon a:nth-child(3) {
	transform: translateY(20px);
	opacity: 1;
}

.single-about:hover .socialIcon a:last-child {
	transform: translateY(20px);
	opacity: 1;
}

.single-about:hover .personImg img {
	transform: scale(1.1)
}

.single-about:hover {
	cursor: pointer;
}


/*------------- responsive  ------------ */

@media (max-width: 700px) {
    .about-info h2 {
        margin-top: 18%;
    }
    
    .about-info p {
        margin-top: -28px;
        margin-bottom: 20px;
    }

    .about-details {
        width: 100%;
        margin: auto;
    }

    .about-details p {
        font-size: 18px;
        padding: 5px;
        text-align: center;
    }

    .single-about {
        width: 80%;
        margin-top: 50px;
        margin-bottom: 0;
    }

    .gg a {
        width: 50%;
        text-align: center;
        padding: 15px 0;
        font-size: 18px;
        margin-left: 95px;
        margin-top: 20%;
    }


}